<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Similar Tags on StackOverflow</title>
  <meta name="description=" content="Compare two similar tags on StackOverflow.">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
        "3des",
        "aes",
        "jqplot",
        "flot",
        "directory",
        "folder",
        "nfa",
        "dfa",
        "awt",
        "swing",
        "mp4",
        "webm",
        "geocode",
        "geocoding",
        "qplaintextedit",
        "qtextedit",
        "double",
        "int",
        "uicollectionview",
        "uitableview",
        "pagespeed",
        "yslow",
        "nexus",
        "artifactory",
        "cin",
        "cout",
        "macports",
        "fink",
        "cudnn",
        "theano",
        "landscape",
        "portrait",
        "compareto",
        "equals",
        "localization",
        "translation",
        "short",
        "base",
        "namedtuple",
        "dictionary",
        "polygons",
        "distance",
        "httphandler",
        "httpmodule",
        "swift",
        "objective-c",
        "piston",
        "tastypie",
        "ini",
        "config",
        "sudo",
        "passwd",
        "datamapper",
        "activerecord",
        "ienumerable",
        "iqueryable",
        "elasticsearch",
        "kibana",
        "opera",
        "google-chrome",
        "addition",
        "multiplying",
        "stateful",
        "stateless",
        "implements",
        "extends",
        "ubuntu",
        "centos",
        "xapian",
        "whoosh",
        "outputstream",
        "inputstream",
        "vmware",
        "virtualbox",
        "listview",
        "gridview",
        "mayavi",
        "matplotlib",
        "firefox",
        "parsley",
        "robotlegs",
        "requestfactory",
        "gwt",
        "profiler",
        "gprof",
        "many-to-one",
        "one-to-many",
        "boolean",
        "rythm",
        "velocity",
        "filewriter",
        "printwriter",
        "pypy",
        "cpython",
        "ieee",
        "decimal",
        "codeigniter",
        "cakephp",
        "concave",
        "convex",
        "quicksort",
        "mergesort",
        "altitude",
        "memcmp",
        "strcmp",
        "tripledes",
        "repeater",
        "memcpy",
        "strcpy",
        "range",
        "max",
        "jtable",
        "jlist",
        "putimagedata",
        "drawimage",
        "bellman-ford",
        "dijkstra",
        "server-side",
        "client-side",
        "subtraction",
        "add",
        "eventlet",
        "gevent",
        "build.gradle",
        "gradlew",
        "serializable",
        "deserialization",
        "subtract",
        "miglayout",
        "gridbaglayout",
        "feed",
        "rss",
        "keyboard",
        "mouse",
        "division",
        "modulo",
        "diagram",
        "entity-relationship",
        "pom.xml",
        "maven",
        "sublimetext",
        "vim",
        "orientdb",
        "neo4j",
        "h.264",
        "jsonb",
        "hstore",
        "acid",
        "consistency",
        "lodash",
        "underscore.js",
        "debian",
        "linux",
        "move",
        "drag",
        "kerberos",
        "ldap",
        "pandas",
        "seaborn",
        "memcached",
        "apc",
        "dsa",
        "rsa",
        "trackpad",
        "width",
        "margin",
        "orika",
        "dozer",
        "hash",
        "md5",
        "debugging",
        "profiling",
        "tinyint",
        "varchar",
        "png",
        "bmp",
        "isotope",
        "masonry",
        "pexpect",
        "telnetlib",
        "grouping",
        "sorting",
        "vba",
        "vb6",
        "unicorn",
        "puma",
        "http",
        "spdy",
        "yum",
        "rpm",
        "free",
        "malloc",
        "strtol",
        "atoi",
        "multiplication",
        "boost",
        "allocator",
        "xslt",
        "xquery",
        "cpu",
        "processors",
        "richfaces",
        "primefaces",
        "ant",
        "racket",
        "scheme",
        "ntlm",
        "ram",
        "disk",
        "mvp",
        "presenter",
        "pdfbox",
        "itext",
        "elixir",
        "erlang",
        "enumerate",
        "xrange",
        "angular",
        "ionic",
        "svn",
        "perforce",
        "stl",
        "pascal",
        "delphi",
        "redmine",
        "mantis",
        "gyroscope",
        "accelerometer",
        "lemmatization",
        "stemming",
        "sctp",
        "tcp",
        "cappuccino",
        "sproutcore",
        "integer",
        "floating-point",
        "splinter",
        "selenium",
        "random",
        "prng",
        "fgetc",
        "fread",
        "libav",
        "ffmpeg",
        "spi",
        "i2c",
        "nunit",
        "mbunit",
        "imageview",
        "textview",
        "postgresql",
        "mysql",
        "button",
        "checkbox",
        "war",
        "jar",
        "webkit",
        "gecko",
        "ssl",
        "auto",
        "decltype",
        "laravel",
        "yii",
        "jxtable",
        "coalesce",
        "isnull",
        "show",
        "hide",
        "dir",
        "treemap",
        "linkedhashmap",
        "submit",
        "submission",
        "alarmmanager",
        "timertask",
        "uiviewcontroller",
        "uinavigationcontroller",
        "nginx",
        "lighttpd",
        "cos",
        "sin",
        "pow",
        "sqrt",
        "sorcery",
        "devise",
        "emacs",
        "wordpress",
        "joomla",
        "calloc",
        "clob",
        "xmltype",
        "mdpi",
        "hdpi",
        "onchange",
        "onblur",
        "jedit",
        "notepad++",
        "realloc",
        "fadeout",
        "paperclip",
        "carrierwave",
        "actionscript",
        "mxml",
        "wildfly",
        "jboss",
        "icollection",
        "transliteration",
        "openmpi",
        "mpich",
        "mgcv",
        "gam",
        "d3.js",
        "raphael",
        "wicket",
        "vaadin",
        "unsigned",
        "haskell",
        "heapsort",
        "bower",
        "npm",
        "qwindow",
        "qwidget",
        "sinon",
        "jasmine",
        "mouseout",
        "mouseleave",
        "org.json",
        "gson",
        "rtf",
        "doc",
        "bazaar",
        "git",
        "hmac",
        "strncmp",
        "cufft",
        "fftw",
        "ironpython",
        "ironruby",
        "svn2git",
        "git-svn",
        "safari",
        "android-emulator",
        "bluestacks",
        "np-hard",
        "np-complete",
        "switching",
        "screens",
        "llvm",
        "clang",
        "lisp",
        "mongodb",
        "bson",
        "qtoolbutton",
        "qpushbutton",
        "geddy",
        "connect",
        "thin",
        "font-size",
        "testng",
        "junit",
        "webclient",
        "webrequest",
        "udp",
        "tablet",
        "html5lib",
        "lxml",
        "tostring",
        "string.format",
        "web.py",
        "django",
        "exponent",
        "liblinear",
        "libsvm",
        "salt",
        "filtering",
        "des",
        "qgraphicsscene",
        "qgraphicsview",
        "uicontrol",
        "uibutton",
        "cassini",
        "iis",
        "homebrew",
        "apache",
        "uiview",
        "subviews",
        "calayer",
        "execute",
        "prepare",
        "keras",
        "tensorflow",
        "activemq",
        "rabbitmq",
        "128bit",
        "64bit",
        "super",
        "seam",
        "jsf",
        "subclassing",
        "superclass",
        "antialiasing",
        "transparent",
        "instrumentation",
        "ceil",
        "floor",
        "memmove",
        "tiff",
        "struct",
        "typedef",
        "sum",
        "aggregate-functions",
        "openrasta",
        "wcf",
        "filesystems",
        "fat",
        "fixed-point",
        "trinidad",
        "mouseover",
        "webrick",
        "trac",
        "netrw",
        "nerdtree",
        "factors",
        "mean",
        "x86",
        "mips",
        "rjdbc",
        "rodbc",
        "uitextview",
        "uilabel",
        "textarea",
        "pre",
        "scalamock",
        "mockito",
        "swt",
        "uipickerview",
        "flask",
        "cloudant",
        "couchdb",
        "ntfs",
        "guava",
        "lambdaj",
        "qunit",
        "matrix",
        "twig",
        "smarty",
        "minimum",
        "gtk",
        "cairo",
        "settimeout",
        "setinterval",
        "sml",
        "greedy",
        "backtracking",
        "okhttp",
        "retrofit",
        "sortedlist",
        "sorteddictionary",
        "octal",
        "hex",
        "cobertura",
        "emma",
        "intersect",
        "contains",
        "compiled-language",
        "interpreted-language",
        "telnet",
        "ftp",
        "httpwebrequest",
        "bufferedwriter",
        "textmate",
        "named",
        "shadowing",
        "height",
        "in-place",
        "direct2d",
        "gdi",
        "configobj",
        "configparser",
        "ocaml",
        "background-color",
        "background-image",
        "goto",
        "break",
        "mtu",
        "pyglet",
        "pyopengl",
        "bottle",
        "column-count",
        "spaces",
        "delimiter",
        "getline",
        "fgets",
        "ignite",
        "hazelcast",
        "nsurlsession",
        "nsurlconnection",
        "boxlayout",
        "graphicsmagick",
        "imagemagick",
        "simpletest",
        "phpunit",
        "vimeo",
        "youtube",
        "direct3d",
        "engineyard",
        "heroku",
        "titan",
        "opcache",
        "m2e",
        "droppable",
        "draggable",
        "fractions",
        "zsh",
        "bash",
        "httpclient",
        "koa",
        "express",
        "noexcept",
        "throw",
        "bundler",
        "rvm",
        "rank",
        "declarative",
        "imperative",
        "dill",
        "pickle",
        "jscript",
        "vbscript",
        "vhdl",
        "verilog",
        "binary",
        "scapy",
        "dpkt",
        "flac",
        "wav",
        "next",
        "except",
        "installation",
        "upgrade",
        "freemarker",
        "scikit-learn",
        "nltk",
        "inherited",
        "android-query",
        "picasso",
        "percentile",
        "jackson",
        "cvs",
        "conda",
        "virtualenv",
        "websphere",
        "ibm",
        "mp3",
        "qhash",
        "qmap",
        "pyquery",
        "beautifulsoup",
        "dexterity",
        "archetypes",
        "oncreate",
        "onstart",
        "tree",
        "trie",
        "16-bit",
        "memset",
        "usb",
        "bluetooth",
        "jython",
        "snappy",
        "lzo",
        "nvidia",
        "ati",
        "timsort",
        "distinct",
        "union",
        "properties",
        "pbkdf2",
        "fadein",
        "tcmalloc",
        "glibc",
        "ilist",
        "moles",
        "typemock",
        "self",
        "setter",
        "getter",
        "atom-editor",
        "illegalargumentexception",
        "nullpointerexception",
        "glassfish",
        "protovis",
        "kohana",
        "strdup",
        "imagick",
        "gmagick",
        "vb.net",
        "and-operator",
        "or-operator",
        "ipb",
        "mybb",
        "datediff",
        "difference",
        "owl",
        "rdf",
        "many-to-many",
        "avx",
        "sse",
        "sqoop",
        "hadoop",
        "jqgrid",
        "datatables",
        "read.table",
        "gitolite",
        "gitosis",
        "web2py",
        "mstest",
        "inline",
        "inlining",
        "srt",
        "subtitle",
        "adfs",
        "acs",
        "rar",
        "zip",
        "xfce",
        "gnome",
        "qvector",
        "qlist",
        "radix-sort",
        "put",
        "post",
        "fork",
        "pthreads",
        "gif",
        "words",
        "n-gram",
        "iostream",
        "cstdio",
        "jruby",
        "mri",
        "ecj",
        "javac",
        "nvl",
        "jogl",
        "lwjgl",
        "get",
        "tcpdf",
        "fpdf",
        "httplib",
        "urllib",
        "toupper",
        "tolower",
        "while-loop",
        "for-loop",
        "ogg",
        "cheerio",
        "jsdom",
        "jtextpane",
        "jeditorpane",
        "microchip",
        "avr",
        "map",
        "push",
        "pull",
        "dialog",
        "pop-up",
        "benchmarking",
        "versioning",
        "icefaces",
        "jmock",
        "dask",
        "fckeditor",
        "summernote",
        "stanford-nlp",
        "opennlp",
        "ecdsa",
        "bufferedoutputstream",
        "dataoutputstream",
        "weblogic",
        "hyperthreading",
        "onkeydown",
        "onkeyup",
        "onitemclicklistener",
        "onclicklistener",
        "gethashcode",
        "arrays",
        "accessor",
        "dawg",
        "affinity",
        "strncpy",
        "operator-precedence",
        "logical-or",
        "protected",
        "public",
        "arp",
        "min",
        "exception-handling",
        "try-catch",
        "keyup",
        "keydown",
        "updatepanel",
        "scriptmanager",
        "cypher",
        "gremlin",
        "metaphone",
        "soundex",
        "irrlicht",
        "ogre",
        "tcl",
        "perl",
        "wan",
        "lan",
        "fireworks",
        "photoshop",
        "dotnetzip",
        "sharpziplib",
        "objectcontext",
        "dbcontext",
        "panels",
        "scrollable",
        "nsmutablestring",
        "nsstring",
        "xna",
        "libgdx",
        "r-tree",
        "quadtree",
        "gwt-rpc",
        "directx",
        "xcb",
        "xlib",
        "javassist",
        "cglib",
        "couchbase",
        "https",
        "floyd-warshall",
        "median",
        "glut",
        "sdl",
        "g++",
        "gcc",
        "stringr",
        "stringi",
        "wxpython",
        "pyqt",
        "crypt",
        "ember.js",
        "backbone.js",
        "mousemove",
        "mouseenter",
        "robocopy",
        "xcopy",
        "freebsd",
        "padrino",
        "ruby-on-rails",
        "elementtree",
        "qqmlapplicationengine",
        "qquickview",
        "mapr",
        "cloudera",
        "zen-cart",
        "magento",
        "appium",
        "strlen",
        "printf",
        "bison",
        "jison",
        "hevc",
        "colorbox",
        "fancybox",
        "retaincount",
        "dealloc",
        "uibezierpath",
        "uiimage",
        "uitabbarcontroller",
        "scipy",
        "pyfftw",
        "gulp-ruby-sass",
        "gulp-sass",
        "texreg",
        "stargazer",
        "packets",
        "multicast",
        "ng-include",
        "ng-view",
        "robospice",
        "ion",
        "tokudb",
        "myisam",
        "spsite",
        "spweb",
        "i386",
        "powerpc",
        "centroid",
        "threshold",
        "hive",
        "hdfs",
        "bitarray",
        "bitset",
        "git-rebase",
        "git-merge",
        "jvisualvm",
        "jhat",
        "abstract-class",
        "subclass",
        "moq",
        "flotr",
        "highcharts",
        "jrebel",
        "hotswap",
        "persistent",
        "transient",
        "setcontentview",
        "nsprogress",
        "nsoperation",
        "aptana",
        "dreamweaver",
        "rational-numbers",
        "zero",
        "webstorm",
        "phpstorm",
        "scgi",
        "fastcgi",
        "nmock",
        "umd",
        "amd",
        "bltoolkit",
        "nhibernate",
        "tlistview",
        "tlistbox",
        "behat",
        "rtsp",
        "rtp",
        "multitasking",
        "backgrounding",
        "passenger",
        "grafana",
        "maven-shade-plugin",
        "phpmyadmin",
        "heidisql",
        "fleet",
        "orchestration",
        "iodbc",
        "unixodbc",
        "qtablewidget",
        "qtableview",
        "sfml.net",
        "bullet",
        "bcrypt-ruby",
        "lasagne",
        "timeit",
        "cprofile",
        "bcolz",
        "maven-jaxb2-plugin",
        "xjc",
        "fresco",
        "icmp",
        "cargo",
        "dateadd",
        "strtotime",
        "httpd.conf",
        ".htaccess",
        "asihttprequest",
        "cfnetwork",
        "xhtml",
        "apache-fop",
        "crfsuite",
        "crf++",
        "mathml",
        "mathjax",
        "arraylist",
        "treeset",
        "jspm",
        "fileinputstream",
        "bufferedreader",
        "blockui",
        "jqmodal",
        "kate",
        "gedit",
        "loops",
        "jacoco",
        "ng-controller",
        "scriptaculous",
        "jquery",
        "openshift",
        "openssl",
        "cryptlib",
        "vbo",
        "vao",
        "murmurhash",
        "xerces",
        "tinyxml",
        "conan",
        "biicode",
        "jquery-week-calendar",
        "fullcalendar",
        "rcharts",
        "shiny",
        "whirlpool",
        "touchesbegan",
        "touchesmoved",
        "queryover",
        "skip-lists",
        "queue",
        "fifo",
        "fuzzyfinder",
        "ctrlp",
        "do.call",
        "tapply",
        "xfs",
        "relaxng",
        "schematron",
        "wideimage",
        "phpthumb",
        "touchesended",
        "shellcheck",
        "valgrind",
        "ogre3d",
        "fuzzy",
        "nstextview",
        "nstextstorage",
        "opencart",
        "clutter",
        "magma",
        "cublas",
        "metrics",
        "ganglia",
        "bit-shift",
        "xor",
        "quadprog",
        "nlopt",
        "expression-blend",
        "silverlight",
        "subreports",
        "ireport",
        "webchromeclient",
        "webviewclient",
        "cons",
        "cdr",
        "resharper",
        "justcode",
        "principles",
        "ocp",
        "umbraco",
        "dotnetnuke",
        "trampolines",
        "thunk",
        "pdist",
        "kurtosis",
        "variance",
        "yosemite",
        "osx",
        "jdbi",
        "hibernate",
        "buildout",
        "plone",
        "java.util.calendar",
        "java.util.date",
        "json-rpc",
        "xml-rpc",
        "qtkit",
        "avfoundation",
        "cfstring",
        "alloca",
        "nsobject",
        "websocket",
        "pusher",
        "silex",
        "slim",
        "tga",
        "ppm",
        "puremvc",
        "text-align",
        "lift",
        "scalatra",
        "algol",
        "apl",
        "skybox",
        "cube",
        "ondestroy",
        "elgg",
        "rubinius",
        "imshow",
        "contourf",
        "jlabel",
        "yourkit",
        "visualvm",
        "tabcontrol",
        "tabitem",
        "jmeter",
        "neoload",
        "icarousel",
        "kombu",
        "celery",
        "scintilla",
        "avalonedit",
        "tstringgrid",
        "turbogears",
        "dojo",
        "dwr",
        "manifest.mf",
        "mallet",
        "weka",
        "markermanager",
        "markerclusterer",
        "jscrollpane",
        "jlayeredpane",
        "helpers",
        "actioncontroller",
        "adb",
        "monkeyrunner",
        "dynamic-languages",
        "branch",
        "squash",
        "saucelabs",
        "browserstack",
        "lapack",
        "openblas",
        "mod-alias",
        "mod-rewrite",
        "tooltip",
        "popover",
        "freshmvvm",
        "mvvmcross",
        "pdcurses",
        "ncurses",
        "force.com",
        "salesforce",
        "expressionengine",
        "roboguice",
        "robolectric",
        "snap.svg",
        "svg.js",
        "getdate",
        "datepart",
        "beyondcompare",
        "winmerge",
        "srp",
        "quicktime",
        "mediacodec",
        "mediarecorder",
        "opensuse",
        "terminate",
        "timeout",
        "aquamacs",
        "inline-functions",
        "greenfoot",
        "bluej",
        "textctrl",
        "bugzilla",
        "thymeleaf",
        "cclabelttf",
        "ccmenuitem",
        "spf",
        "dns",
        "strtod",
        "ng-show",
        "ng-switch",
        "railo",
        "coldfusion",
        "graphlab",
        "kde",
        "chaco",
        "oxygene",
        "speex",
        "wma",
        "javascriptmvc",
        "extjs",
        "gxt",
        "janusgraph",
        "jpgraph",
        "phpgraphlib",
        "livescript",
        "coffeescript",
        "jta",
        "jms",
        "magnolia",
        "opencms",
        "agda",
        "slimdx",
        "ng-app",
        "hidapi",
        "libusb",
        "gsl",
        "icalendar",
        "rrule",
        "qcubed",
        "qcodo",
        "clgeocoder",
        "mkreversegeocoder",
        "wireless",
        "ethernet",
        "sqlcommand",
        "oledbcommand",
        "scylla",
        "cassandra",
        "qtreewidget",
        "qtreeview",
        "viewdidload",
        "viewdidappear",
        "inmobi",
        "admob",
        "armadillo",
        "textpad",
        "notepad",
        "colormap",
        "boofcv",
        "opencv",
        "emgucv",
        "umask",
        "fusioncharts",
        "tcsh",
        "reboot",
        "uptime",
        "caliburn",
        "viewmodel",
        "smb",
        "scrypt",
        "palindrome",
        "square-root",
        "qgridlayout",
        "python-mode",
        "jedi",
        "constexpr",
        "countif",
        "bada",
        "marmalade",
        "atof",
        "kdtree",
        "octree",
        "grouplayout",
        "bfg-repo-cleaner",
        "git-filter-branch",
        "flyway",
        "liquibase",
        "wadl",
        "wsdl",
        "ico",
        "fog",
        "nsorderedset",
        "nsset",
        "qabstractitemmodel",
        "qstandarditemmodel",
        "atan2",
        "vfork",
        "posix",
        "windowbuilder",
        "autotools",
        "automake",
        "moshi",
        "ansible",
        "puppet",
        "onsubmit",
        "onclick",
        "styledtext",
        "uipageviewcontroller",
        "fabricjs",
        "substr",
        "grepl",
        "ostream",
        "std",
        "resin",
        "hql",
        "jpql",
        "shellsort",
        "comparator",
        "comparable",
        "scite",
        "phong",
        "shading",
        "code128",
        "code39",
        "control-structure",
        "vundle",
        "pathogen",
        "onload",
        "onreadystatechange",
        "xhprof",
        "xdebug",
        "cagradientlayer",
        "uiswipegesturerecognizer",
        "catransition",
        "associativity",
        "perf",
        "hapijs",
        "dxcore",
        "coderush",
        "leaflet",
        "scala",
        "typesafe",
        "glsl",
        "hlsl",
        "uwsgi",
        "gunicorn",
        "pyodbc",
        "adodbapi",
        "angle",
        "prolog",
        "istream",
        "ssms",
        "sqlcmd",
        "popupwindow",
        "google-api-python-client",
        "oauth2client",
        "terracotta",
        "tabs",
        "toolbar",
        "razorpdf",
        "itextsharp",
        "onmouseup",
        "wxhaskell",
        "gtk2hs",
        "fontfamily",
        "uitabbaritem",
        "pycharm",
        "spyder",
        "double-quotes",
        "single-quotes",
        "each",
        "prop",
        "spring-data-commons",
        "spring-data-jpa",
        "dropbox",
        "icloud",
        "solaris",
        "monomac",
        "monobjc",
        "parfor",
        "matlabpool",
        "uitapgesturerecognizer",
        "mapguide",
        "arcmap",
        "openkm",
        "alfresco",
        "rouge",
        "pygments",
        "subset-sum",
        "vips",
        "nspersistentdocument",
        "uimanageddocument",
        "bitvector",
        "oursql",
        "mysql-python",
        "runtimeexception",
        "unchecked-exception",
        "zend-framework",
        "scalacheck",
        "quickcheck",
        "primes",
        "libtiff",
        "libjpeg",
        "sympy",
        "pytables",
        "docx4j",
        "apache-poi",
        "caf",
        "drawingarea",
        "soapui",
        "xtend",
        "stringtemplate",
        "eigen",
        "handbrake",
        "gruntjs",
        "package.json",
        "nuxeo",
        "lz77",
        "lzw",
        "rtcp",
        "minix",
        "netbsd",
        "transparency",
        "blazemeter",
        "icomparable",
        "mef",
        "prism",
        "hebrew",
        "persian",
        "cairngorm",
        "paxos",
        "raft",
        "splines",
        "interpolation",
        "curvycorners",
        "startapp",
        "interstitial",
        "bitblt",
        "stretchblt",
        "fossil",
        "struts",
        "avassetexportsession",
        "avassetwriter",
        "ats",
        "caanimation",
        "gdk",
        "momentjs",
        "datejs",
        "hiawatha",
        "uppercase",
        "mongoose",
        "mongojs",
        "permalinks",
        "slug",
        "bootcamp",
        "spring",
        "appfuse",
        "jinternalframe",
        "magick++",
        "scrollbar",
        "xsl-fo",
        "jersey-client",
        "qtwebengine",
        "qtwebkit",
        "removeclass",
        "thickbox",
        "charts",
        "pie-chart",
        "onresume",
        "onpause",
        "cactus",
        "wtforms",
        "formencode",
        "bigloo",
        "ecl",
        "qlabel",
        "qlineedit",
        "jchart2d",
        "jfreechart",
        "tortoisegit",
        "colt",
        "jama",
        "opentype",
        "woff",
        "jtextcomponent",
        "documentfilter",
        "node.js",
        "qfile",
        "qtextstream",
        "eclemma",
        "audiorecord",
        "koala",
        "facebooker2",
        "ipa",
        "info.plist",
        "selecteditem",
        "selectedindex",
        "daemons",
        "systemd",
        "redeclaration",
        "ivar",
        "rebol",
        "uiwindow",
        "jmockit",
        "viewwillappear",
        "codeception",
        "libc",
        "csv",
        "tsv",
        "mysql-workbench",
        "arc4random",
        "srand",
        "cefglue",
        "cefsharp",
        "tablesorter",
        "textblock",
        "richtextbox",
        "microcontroller",
        "mbprogresshud",
        "uialertview",
        "antivirus",
        "norton",
        "xlsxwriter",
        "xlwings",
        "avassetreader",
        "fileoutputstream",
        "xlsb",
        "xlsm",
        "pillow",
        "argumentexception",
        "invalidoperationexception",
        "casting",
        "autoboxing",
        "factories",
        "jsr286",
        "jsr168",
        "chown",
        "libstdc++",
        "libc++",
        "s-function",
        "matlab",
        "tapestry",
        "postorder",
        "inorder",
        "radgrid",
        "tidekit",
        "tidesdk",
        "adventureworks",
        "northwind",
        "linefeed",
        "idris",
        "domcontentloaded",
        "codelite",
        "codeblocks",
        "openlayers",
        "tee",
        "cat",
        "openpgp",
        "x509",
        "cas",
        "shibboleth",
        "chameleon",
        "jinja2",
        "springlayout",
        "dotcover",
        "ncover",
        "py4j",
        "jpype",
        "qlistwidget",
        "wsimport",
        "wsdl2java",
        "achartengine",
        "xts",
        "zoo",
        "phalcon",
        "celementtree",
        "pyenv",
        "combinators",
        "fold",
        "box2d",
        "scene2d",
        "m2crypto",
        "asp.net-mvc",
        "html.actionlink",
        "qt-designer",
        "ejml",
        "key",
        "hash-collision",
        "caffe",
        "mxnet",
        "stringwriter",
        "stringbuilder",
        "spreadsheetml",
        "presentationml",
        "lxml.html",
        "findviewbyid",
        "m3u",
        "charles",
        "fiddler",
        "mousedown",
        "mouseup",
        "src",
        "attr",
        "eloquera",
        "db4o",
        "fputs",
        "getc",
        "zlib",
        "libpng",
        "jpopupmenu",
        "jmenuitem",
        "twitter4j",
        "scribe",
        "cifs",
        "teamcity",
        "cruisecontrol",
        "smartgwt",
        "purrr",
        "dplyr",
        "datagram",
        "recvfrom",
        "qbs",
        "qmake",
        "cvsnt",
        "filechannel",
        "slurm",
        "torque",
        "qthread",
        "qobject",
        "if-statement",
        "textscan",
        "kif",
        "xctest",
        "onfocus",
        "ostringstream",
        "mutators",
        "bitwise-and",
        "fasttext",
        "word2vec",
        "es2015",
        "tree-shaking",
        "uu-parsinglib",
        "parsec",
        "uigesturerecognizer",
        "hikaricp",
        "c3p0",
        "mapply",
        "ioexception",
        "collabnet",
        "saaj",
        "jax-ws",
        "stringtokenizer",
        "aurora",
        "marathon",
        "background-size",
        "xom",
        "xstream",
        "objectdatasource",
        "stripes",
        "canopy",
        "ptvs",
        "glkbaseeffect",
        "opengl-es",
        "autoresetevent",
        "manualresetevent",
        "rdiscount",
        "bluecloth",
        "qnetworkaccessmanager",
        "qtcpsocket",
        "tvos",
        "ios",
        "qweb",
        "odoo",
        "datalist",
        "xilinx",
        "altera",
        "rethinkdb",
        "charat",
        "indexof",
        "node-sass",
        "ucma",
        "ucwa",
        "nemerle",
        "boo",
        "glsurfaceview",
        "nstableview",
        "nssplitview",
        "pdfsharp",
        "melt",
        "autocompletetextview",
        "spinner",
        "xuggle",
        "vlcj",
        "avro",
        "thrift",
        "cocos2d-x",
        "ublas",
        "treeview",
        "layoutparams",
        "viewgroup",
        "pyomo",
        "kmz",
        "gpx",
        "slick2d",
        "reductio",
        "crossfilter",
        "hotmail",
        "gmail",
        "jung",
        "jgraph",
        "odp.net",
        "system.data.oracleclient",
        "cron",
        "jobs",
        "qcheckbox",
        "ravendb",
        "kivy",
        "checkboxlist",
        "capybara",
        "rspec",
        "irc",
        "xmpp",
        "silverstripe",
        "btrace",
        "goose",
        "boilerpipe",
        "ivr",
        "asterisk",
        "vlfeat",
        "openerp",
        "wmv",
        "flv",
        "vsts",
        "tfs",
        "monodevelop",
        "sharpdevelop",
        "ratingbar",
        "erd",
        "dataframe",
        "multi-index",
        "operands",
        "scalar",
        "rubymine",
        "radrails",
        "qabstracttablemodel",
        "explode",
        "qstyleditemdelegate",
        "qitemdelegate",
        "cmmotionmanager",
        "uiaccelerometer",
        "flex",
        "osmf",
        "mixture",
        "poisson",
        "add-in",
        "vsto",
        "hasownproperty",
        "latex",
        "quanteda",
        "tidytext",
        "testdriven.net",
        "xunit.net",
        "add-on",
        "xpcom",
        "qregularexpression",
        "qregexp",
        "clion",
        "qt-creator",
        "geany",
        "iequalitycomparer",
        "idictionary",
        "irq",
        "afnetworking",
        "sdwebimage",
        "scala-ide",
        "sbt",
        "punctuation",
        "phpquery",
        "querypath",
        "uinavigationbar",
        "jvectormap",
        "jqvmap",
        "canvasjs",
        "facade",
        "command-pattern",
        "model-glue",
        "coldspring",
        "ecobertura",
        "strsplit",
        "packery",
        "http.sys",
        "httplistener",
        "diagonal",
        "nsscanner",
        "nsnumberformatter",
        "do-while",
        "unicode",
        "ucs",
        "komodo",
        "user-controls",
        "vert.x",
        "netty",
        "pygtk",
        "allegro",
        "suds",
        "soappy",
        "fakeiteasy",
        "reactiveui",
        "guard",
        "autotest",
        "istanbul",
        "lcov",
        "maven-antrun-plugin",
        "maven-wagon-plugin",
        "procedure",
        "ora-06502",
        "encoder",
        "decoder",
        "greenplum",
        "uialertcontroller",
        "jax-rs",
        "spritebatch",
        "getchar",
        "csc",
        "vbc",
        "hammer.js",
        "fastclick.js",
        "nodevalue",
        "innerhtml",
        "soundcloud",
        "grooveshark",
        "keystore",
        "jks",
        "adplus",
        "procdump",
        "simulink",
        "lz4",
        "cmder",
        "cygwin",
        "glfw",
        "vpn",
        "gitkraken",
        "smartgit",
        "pdflib",
        "sqldatasource",
        "androidviewclient",
        "networkx",
        "igraph",
        "fseek",
        "required",
        "placeholder",
        "wunderground",
        "openweathermap",
        "opencover",
        "partcover",
        "vml",
        "svg",
        "normals",
        "nserror",
        "nsexception",
        "nsis",
        "uninstaller",
        "django-userena",
        "pinax",
        "suffix-tree",
        "suffix-array",
        "uart",
        "adc",
        "typo3",
        "jslider",
        "jscrollbar",
        "cashapelayer",
        "right-align",
        "justmock",
        "dash",
        "cut",
        "parseint",
        "namenode",
        "tftp",
        "mongoid",
        "mongomapper",
        "mutation",
        "crossover",
        "tcpreplay",
        "wireshark",
        "gridster",
        "clicklistener",
        "buttonclick",
        "smalltalk",
        "buildr",
        "set",
        "bag",
        "fsunit",
        "ciimage",
        "prefuse",
        "voip",
        "sip",
        "concurrenthashmap",
        "readwritelock",
        "libxml2",
        "stderr",
        "stdout",
        "xamarin.android",
        "mono",
        "content-length",
        "content-type",
        "knitr",
        "insertion-sort",
        "ng-class",
        "case-insensitive",
        "case-sensitive",
        "satellite",
        "innodb",
        "qevent",
        "fflush",
        "opus",
        "jtextfield",
        "scoreloop",
        "openfeint",
        "invokelater",
        "invokeandwait",
        "symfony",
        "uibinder",
        "corona",
        "subshell",
        "farsi",
        "renderscript",
        "pygobject",
        "gio",
        "pgm",
        "azure",
        "hdinsight",
        "comm",
        "grep",
        "httr",
        "rcurl",
        "sqldf",
        "plyr",
        "tunnel",
        "gradle",
        "ivy",
        "chart.js",
        "socks",
        "ecto",
        "mpandroidchart",
        "cstring",
        "bstr",
        "mktime",
        "modulus",
        "tcplistener",
        "tcpclient",
        "sata",
        "ssd",
        "undertow",
        "dkim",
        "email",
        "rdflib",
        "jena",
        "tensorboard",
        "avcapturesession"
    ];
    $( "#oritags" ).autocomplete({
      source: availableTags
    });
    $( "#simitags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  <style type="text/css">
    tagcomparemenu {
    position: relative;
    display: block;
    padding: $list-group-item-padding-y $list-group-item-padding-x;
    // Place the border on the list items and negative margin up for better styling
    margin-bottom: -$list-group-border-width;
    background-color: $list-group-bg;
    border: $list-group-border-width solid $list-group-border-color;

    &:first-child {
      @include border-top-radius($list-group-border-radius);
    }
  </style>
</head>
<body style = "background-color:#EFEFEF;color:#5a5a5a">

<div class="container align-items-center" style = "max-width: 1200px;">
  <div class="row align-items-center justify-content-center" style = "height: 400px;">
    <!--div class="col-5 align-items-center">

    <form action="/selecttag/" method="post">
    {% csrf_token %}
      <div class="form-group">
        <p class = "text-center" style = "font-size: 2.4rem;font-weight: 300;font-family: fantasy;color:  #12090f;
        margin-bottom: 2px;">Search similar technology: </p>
        <p class = "text-center" style = "color:#12090f">
        Enter a technology like 'mysql','maven' to view similar technology.</p>
          {% for key, value in Error.items %}
          {% if not value.1 %}
          <p class = "text-center" style = "color:#d0081b">{{value.0}}</p>
          {% endif %}
          {% endfor %}
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
            </div>
            <div class="col-6 align-items-center">
          <input class="form-control form-control-lg" style = "background-color: rgb(18, 9, 14);border: 2px solid #696969;color: #696969;text-align:center;" name = "tag" type="text" placeholder="Enter a technology">
            </div>
            <div class="col">
            </div>
          </div>
        </div>

        <br>

      <div class="container">
      <div class="row d-flex justify-content-center">
        <button  type="submit" class="list-group-item list-group-item-action" style="background-color: #F7C331;width: 160px;padding-top: 8px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;text-align: center;margin: auto;"><h5 class = "text-center" style = "font-size: 1.5rem;font-family: monospace;">Submit</h5></button>

      </div>
      </div>
      </div>
    </form>

    </div -->
    <!--div class="col-1">
    </div-->
    <div class="col-11 align-items-center" style = "margin-top:50px;">

    <form action="/tagcomparepost/" method="post">
    {% csrf_token %}
      <div class="form-group">
        <p class = "text-center" style = "font-size: 2.4rem;font-weight: 300;font-family: fantasy;color:  #000000;margin-bottom: 2px">Compare similar technology: </p>
        <p class = "text-center" style = "color:#12090f">Enter a pair of technology like 'firefox' and 'google-chrome' to compare their features or try out the examples in the table below!</p>
          {% for key, value in Error.items %}
          {% if value.1 %}
          <p class = "text-center" style = "color:#d0081b">{{value.0}}</p>
          {% endif %}
          {% endfor %}

        <div class="container">
          <div class="row align-items-center">
          <div class="col-2">

          </div>

          <div class="col-8 align-items-center">

            <div class = "row justify-content-center">
              <div class = "col-5 align-items-center">
                <input id = "oritags" class="form-control form-control-lg" style = "background-color: rgb(255, 255, 255);border: 2px solid #696969;color: #696969;text-align:center;" name = "tag" type="text" placeholder="Enter a technology">
              </div>
              <div class = "col-1 align-items-center">
                  <p class = "text-center" style = "font-size: 2rem; color: #12090f">vs</p>
              </div>
              <div class = "col-5 align-items-center">
                <input id = "simitags" class="form-control form-control-lg" style = "background-color: rgb(255, 255, 255);border: 2px solid #696969;color: #696969;text-align:center;" name = "simi" type="text" placeholder="Enter a technology">
              </div>
            </div>

          </div>
          <div class="col-2">
          </div>
        </div>
        </div>

        <br>
      <div class="container">
      <div class="row d-flex justify-content-center">
        <button  type="submit" class="list-group-item list-group-item-action" style="color:#ffffff;background-color: #96858F;width: 160px;padding-top: 8px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;text-align: center;margin: auto;"><h5 class = "text-center" style = "font-size: 1.5rem;font-family: monospace;">Compare</h5></button>
      </div>
      </div>
      </div>
    </form>

    </div>

  </div>
</div>

<div class="container">
  <div class="row align-items-center" style = "">
    <div class="col">
    </div>
    <div class="col-12">

          <br>

          <div class="list-group">


                  <table class="table table-hover table-striped" style = "background-color : #FFFFFF;margin-bottom:2rem;color:#12090f;border-top:3px solid #EFEFEF;">

                      <tr style = "background-color:#EFEFEF; border-bottom: 4px solid #12090f;color: #000000;">
                      <th style = "text-align:center;padding: 6px;">Tool</th>
                      <th style = "text-align:center;padding: 6px;">Concept</th>
                      <th style = "text-align:center;padding: 6px;">Algorithm</th>
                      <th style = "text-align:center;padding: 6px;">Library/API</th>
                      <th style = "text-align:center;padding: 6px;">Language</th>
                      </tr>

                      <tbody>

                            <tr>

                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'mysql' 'postgresql' %}" style = "color: #696969;">mysql vs postgresql</a></th>

                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'tcp' 'udp' %}" style = "color: #696969;">tcp vs udp</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'aes' 'des' %}" style = "color: #696969;">des vs aes</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'beautifulsoup' 'lxml' %}" style = "color: #696969;">lxml vs beautifulsoup</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'objective-c' 'swift' %}" style = "color: #696969;">swift vs objective-c</a></th>


                            </tr>


                            <tr>

                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'ant' 'maven' %}" style = "color: #696969;">ant vs maven</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'get' 'post' %}" style = "color: #696969;">post vs get</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'mergesort' 'quicksort' %}" style = "color: #696969;">quicksort vs mergesort</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'awt' 'swing' %}" style = "color: #696969;">awt vs swing</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'cpython' 'pypy' %}" style = "color: #696969;">pypy vs cpython</a></th>


                            </tr>

                            <tr>

                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'google-chrome' 'safari' %}" style = "color: #696969;">chrome vs safari</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'sorteddictionary' 'sortedlist' %}" style = "color: #696969;">sortedlist vs sorteddictionary</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'floyd-warshall' 'dijkstra' %}" style = "color: #696969;">floyd-warshall vs dijkstra</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'gson' 'jackson' %}" style = "color: #696969;">jackson vs gson</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'lisp' 'scheme' %}" style = "color: #696969;">scheme vs lisp</a></th>


                            </tr>

                            <tr>

                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'virtualbox' 'vmware' %}" style = "color: #696969;">vmware vs virtualbox</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{%  url 'tagcompare' 'client-side' 'server-side' %}" style = "color: #696969;">server-side vs client-side</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'dsa' 'rsa' %}" style = "color: #696969;">dsa vs rsa</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'memcpy' 'memmove' %}" style = "color: #696969;">memcpy vs memmove</a></th>
                            <th scope="col" style = "padding: 6px;text-align:center;border-top:3px solid #696969"><a  href = "{% url 'tagcompare' 'haskell' 'ocaml'  %}" style = "color: #696969;">haskell vs ocaml</a></th>

                            </tr>


                      </tbody>
                   </table>


          </div>

    </div>
    <div class="col">
    </div>
  </div>
</div>

</body>
</html>
