{% extends "base.html" %}
print this is bad!
<!--
{% block content %}
-->

<!--
<div>
	this is above tag under div
    {% for id_postidtype in id_postidtypes%}
    inside the loop
    <div class = "tagname">
        <!--<a href = "{% url 'tags_detail' tag.id %}"> -->
           <!-- <h3>{{id_postidtype.postid | capfirst}}   This is the id  </h3>

        <!--</a>-->
      <!--  <p>{{id_postidtype.postidtype}}</p>
        <!--<p class = "hidden">{{tag.TagWiki}}</p>-->
 <!--   </div>
    {% endfor %}
</div>

{% endblock %}
