{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row align-items-center" style = "height: 600px;">
    <div class="col-sm">
    </div>
    <div class="col-sm">


<table class="table">
  <thead class="thead-dark">
    <tr>
    <th>Features</th>
    {% for key,value in tagpair.items %}

    <th style = "text-align:center">{{key}}</th>
    <th style = "text-align:center">{{value}}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
  	    {% for key,value in Features.items %}
  	    <tr>
  	    <th scope="col">{{key | capfirst}}</th>
	       {% for item in value %}
	       <td scope="col" style = "text-align:center">{{item | capfirst}}</td>
	       {% endfor %}
        </tr> 
    	{% endfor %}
  </tbody>
 </table>

		  <div class="row d-flex justify-content-center">
				<a  href="{% url 'home' %}" class="list-group-item list-group-item-action" style="width:170px;padding-top: 4px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;text-align: center;margin: auto;"><h5 class = "text-center" style = "font-size: 1rem;">Return To Home</h5></a>
		  </div>

    </div>
    <div class="col-sm">
    </div>
  </div>
</div>



{% endblock %}