{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row align-items-center" style = "margin-top: 40px;">
    <div class="col-3">

<div class="fixed-top" style = "
    margin-top: 3%;
    margin-left: 5%;
    width: 250px;
    text-align:  center;
">

<p style = "
color:#ffffff;
font-family: fantasy;
border: 0px;
font-size:2rem;
padding:4px;
  "> Aspects </p>

<div class="list-group">
  {% for key,value in Features.items %}
  <a href="#{{key}}" class="tagcomparemenu list-group-item-action" style = "
color:#449b64;
font-family: fantasy;
border: 1px solid #212529;
padding:9px;
  " >{{key|capfirst}}</a>
  {% endfor %}
</div>
</div>


    </div>
    <div class="col-9">    

  <div class="row justify-content-center">
    <div class="col">
    {% for key,value in TagsWikiDict_tag.items %}
      <p style = "    
      color: #fdc317;
    font-size: 3rem;
    font-family: fantasy;"> {{key|capfirst}}</p>
      <p style = "color:#b78b0a">{{value|capfirst}}</p>
    {% endfor %}
    </div>
    <div class="col">

    {% for key,value in TagsWikiDict_simi.items %}
      <p style = "    
      color: #fdc317;
    font-size: 3rem;
    font-family: fantasy;"> {{key|capfirst}}</p>
      <p style = "color:#b78b0a">{{value|capfirst}}</p>
    {% endfor %}


    </div>
    </div>






    <br>

    <div class="list-group">

            {% for key, value in Features.items %}
            <!--p>{{value}}</p-->
            <a id = "{{key}}">
            <p 

            style = "  
                color: #4aa76c;
                font-size: 2rem;
                font-family: fantasy;
                background-color: rgba(0,0,0,.075);
                padding-left: 0px;
                padding-right: 20px;
                width: 600px;
                ">{{key|capfirst}}</p> </a>
            <table class="table table-hover table-striped" style = "background-color : #5C0029;margin-bottom:2rem;color:#ffffff;border-top:3px solid #12090e;">

                <tr style = "background-color:#0c5460; ">
                <th style = "width: 124px;text-align:center;">Quality</th>
                <th style = "text-align:center">Example</th>
                </tr>
              
              <tbody>
                    {% for quality, examples in value.items %}

                    <tr>
                    <th scope="col" style = "text-align:center;border-top:3px solid #12090e">{{ quality | capfirst}}</th>
                    
                    <td scope="col" style = "text-align:left;border-top:3px solid #12090e">
                    {% for row in examples %}


                    {% with "https://stackoverflow.com/questions/"|add:row.1 as address %}

                    <a href = {{address}} style = "color:#ffffff">
                    <p style = "margin-bottom :3px">"{{ row.0 | capfirst}}"</p>
                    </a>
                    <p style = "
                        color: #4aa78e;
                        font-family: monospace;
                        /* font-weight: 300; */
                        font-style: italic;
                        text-align: left;
                        margin-bottom: 3px;"
                    >from question "{{row.2|capfirst}}"</p>
                    {% endwith %}
                    {% endfor %}
                    </td>
                     
                    </tr> 
                  {% endfor %}
              </tbody>
             </table>
             {% endfor %}


        <a  href = "{% url 'home' %}" class="list-group-item list-group-item-action" style="background-color: rgba(0,0,0,0);width: 160px;padding-top: 8px;padding-bottom: 40px;padding-left: 4px;padding-right: 4px;text-align: center;margin: auto;"><h5 class = "text-center" style = "font-size: 1.5rem;font-family: fantasy;font-weight: 500;color: #ffc107;">Back to Home</h5></a>



    
    </div>
    


    </div>
    <div class="col-1">
    </div>
  </div>
</div>




{% endblock %}