{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row align-items-center" style = "height: 600px;">
    <div class="col-sm">
    </div>
    <div class="col-sm">    

    <div class="list-group">

     {% for tagPairCompare in tagPairCompares %}
            
            
           <a href = "{% url 'tagcompare' tagPairCompare.tag  tagPairCompare.simitag %}" class="list-group-item list-group-item-action" style = "text-align: center;background-color : #5C0029;border:2px solid rgb(18, 9, 14);color:#ffffff;">{{ tagPairCompare.simitag | capfirst}} </a>
 
           	
    {% endfor %}





    </div>


    </div>
    <div class="col-sm">
    </div>
  </div>
</div>

</div>


{% endblock %}